{% extends "./LayoutLogin.html" %}
{% block body %}
<body>
    <nav>
        <a href="indexregistromain"> <img src="{{ url_for('static', filename='assets/image/logo.svg') }}" alt="logo"></a>
    </nav>
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form action="">
            <div class="form-control">
                <input type="text" required>
                <label for="Email">Email or phone number</label>
            </div>
            <div class="form-control">
                <input type="password" required>
                <label for="password">Password</label>
            </div>
            <button type="submit">Sign In</button>
            <div class="form-help">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="">Need help?</a>
            </div>
        </form>
        <p>Nuevo en TVFlix? <a href="indexregistromain">Registrate Ahora</a></p>
        <small>Esta página está protegida por Google reCAPTCHA para garantizar que no seas un bot.
             <button id="learnMoreButton">Learn more.</button>

    <div id="additionalInfo" class="hidden">
        <small>La información recopilada por Google reCAPTCHA está sujeta a la Política de privacidad y a las Condiciones del servicio de Google, y se utiliza para proporcionar, mantener y mejorar el servicio de reCAPTCHA, así como para fines generales de seguridad (Google no la utiliza para personalizar publicidad).
        </small>
    </div>

    </div>
    
</body>
{% endblock %}