{% extends "./LayoutRegister.html" %}
{% block body %}
<body>
  <header>
    <div class="header-wrapper">
      <a href="indexregistromain">
        <img src="{{ url_for('static', filename='assets/image/LogoMv3.png') }}" alt="logo" />
    </a>
      <a  href="/fronted/indexlogin" class="sign-in-btn">Sign In</a>
    </div>
  </header>
    <form action="#" class="form">
      <img src="{{ url_for('static', filename='assets/image/dispositivos.png') }}" alt="" />
      <h1 class="text-center">Completa la configuración de tu cuenta</h1>
      <small class="text-description">StreMovify está personalizado para ti. Crea una contraseña para comenzar a ver StreMovify.</small>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div
          class="progress-step progress-step-active"
          data-title="Email"
        ></div>
        <div class="progress-step" data-title="Verification"></div>
        <div class="progress-step" data-title="Contact"></div>
        <div class="progress-step" data-title="Plan"></div>
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
        <label class="text-info" id="label-Step" for="Code"></label>
        <div class="input-group">   
          <label  class="text-email" id="email" for="email">Email</label>
          <input type="text" name="email" id="textemail"  oninput="verificarDatos()"/>

        </div>
        <div class="input-group">
          <label  class="text-password" for="password">Password</label>
          <input type="password" name="password" id="password"  oninput="verificarDatos()">
        </div>
       
        <div class="">
          <button href="#" type="button" onclick="VerificarEmail()"  style="display: none;" id="Next1" class="btn btn-next width-50 ml-auto">Next 1</button>
        </div>
      </div>
      <!--CODE-->
      <div class="form-step">
        <label class="text-info" id="label-Code" for="Code"></label>
        <div class="input-group">
          <label class="text-info" id="label-content" for="Code"></label>
          <br>
          <label class="text-code" id="" for="Code">Code</label>
          <input type="text" name="Code" id="Code-text" />
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <button href="#" type="button" onclick="VerificarCode()" id="btnNext2" class="btn btn-next">Next2</button>
        </div>
      </div>
      <!--Basic FORMS-->
      <div class="form-step">
        <label class="text-info" id="label-BasicForms" for="Code"></label>
        <div class="input-group">
          <label class="text-username" for="username">Username</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-group">
          <label class="text-Fullname" for="fullname">Fullname</label>
          <input type="text" name="fullname" id="fullname" />
        </div>
        <div class="btns-group">
          <a href="#"  class="btn btn-prev">Previous</a>
          <a href="#" type="button" onclick="VerificarBasicForms()" class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <div class="select">
            <select name="format" id="format">
               <option selected disabled>Seleccione su plan</option>
               <option value="Es">Basic</option>
               <option value="us">Trial</option>
               <option value="us">Personal</option>
               <option value="us">Duo</option>

            </select>
         </div>
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
    </form>   
  </body>
  {% endblock %}