@font-face{
font-family: fuenteLogin;
src: url("/static/assets/fonts/Montserrat-Bold.ttf");

}

body {
   font-family: fuenteLogin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   
    background-image: url('/static/assets/image/login.png');
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Posición central de la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    
  }

  form {
    color: #fff;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .6); /* Cambia el color del borde aquí */
    border-radius: 20px;
    
    backdrop-filter: blur(7px);
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #0c1622; /* Cambia el color del borde aquí */
  }

  
  .icon-only {
    display: flex;
    align-items: center;
    position: relative;
  }

  .icon-only input {
    flex: 1;
    padding-right: 30px; /* Ajusta este valor según sea necesario */
  }

  .icon-only .input-group-text {
    cursor: pointer;
    position: absolute;
    right: 0;
  }