body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  form {
    
    padding: 20px;
    border: 1px solid #000000; /* Cambia el color del borde aquí */
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #0c1622; /* Cambia el color del borde aquí */
  }

  

  